body {
  text-align: center;
  background-color: #B4D3B2;
  display: block;
}

form {
  color: #FF7F50;
  font-size: 20px;
}

input {
  text-align: center;
  color: black;
  width: 250px;
  padding: 5px;
  margin: 5px;
  border-color: black;
  background-color: #A7C7E7;
  display: block;
}

input[type=submit], input[type=reset] {
  width: 250px;
  background-color: #FF6961;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
  border-color: #FF7F50;
  padding: 5px;
  margin: 5px;
}


@media only screen and (max-width: 768px) {
  body {
    font-size: 10px;
  }
	
  input {
    width: 70%;
  }
}
